<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    id        = "com.phonegap.cursoPG"
    version   = "1.0.0">



<name>Curso PhoneGap</name>

<description>
Proyecto de ejemplo del curso Phongap video2brain
</description>

<author href="https://www.contanimacion.com" email="info@contanimacion.com">
Jorge G. villanueva
</author>



<preference name='phonegap-version' value='cli-7.0.1' />
<preference name='pgb-builder-version' value='1' />
 
<plugin name="cordova-plugin-camera" spec="2.2.0" />
<plugin name="cordova-plugin-camera" spec="2.2.0" />
<plugin name="org.apache.cordova.contacts" source="pgb" spec="0.2.16" />
<plugin name="org.apache.cordova.device" source="pgb" spec="0.3.0" />
<plugin name="org.apache.cordova.device-motion" source="pgb" spec="0.2.11" />
<plugin name="org.apache.cordova.dialogs" source="pgb" spec="0.3.0" />
<plugin name="org.apache.cordova.geolocation" source="pgb" spec="0.3.12" />
<plugin name="org.apache.cordova.media" source="pgb" spec="0.2.16" />
</widget>
